$space: 40px;

.Home {
    overflow-x: hidden;
}

.HomeVideo {
    width: 100%;
    position: fixed;
    z-index: -1;
    &::after {
        content: '';
        background: url('/assets/video_overlay.png');
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    }
    &-vid {
        object-fit: cover;
        height: 100vh;
        width: 100%;
    }
}

.HomeTitle {
    display: flex;
    min-height: 100vh;
    align-items: flex-end;
    justify-content: center;
    line-height: 1;
    padding: $space 0;
    &-bottom {
        text-align: center;
    }
    &-title {
        line-height: 1;
    }
    &-small {
        display: inline-block;
        color: #fff;
        font-weight: 300;
        font-size: 5vw;
        font-size: 30px;
        text-transform: lowercase;
        margin-bottom: 0.2em;
    }
    @media screen and (min-width: 320px) {
        .HomeTitle-small {
            font-size: calc(30px + (100px - 30px) * ((100vw - 320px) / (1920px - 320px)));
        }
    }
    @media screen and (min-width: 1920px) {
        .HomeTitle-small {
            font-size: 100px;
        }
    }

    &-large {
        display: inline-block;
        font-weight: 300;
        font-size: 50px;
        text-transform: uppercase;
        margin-bottom: 0.02em;
    }
    @media screen and (min-width: 320px) {
        .HomeTitle-large {
            font-size: calc(50px + (280px - 50px) * ((100vw - 320px) / (1920px - 320px)));
        }
    }
    @media screen and (min-width: 1920px) {
        .HomeTitle-large {
            font-size: 280px;
        }
    }

    &-sub {
        display: inline-block;
        color: #fff;
        font-size: 14px;
        text-transform: lowercase;
        margin-bottom: 0.2em;
    }
    @media screen and (min-width: 320px) {
        .HomeTitle-sub {
            font-size: calc(14px + (40px - 14px) * ((100vw - 320px) / (1920px - 320px)));
        }
    }
    @media screen and (min-width: 1920px) {
        .HomeTitle-sub {
            font-size: 40px;
        }
    }

    &-more {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1;
    }
    &-icon {
        width: 100px;
    }
    &-line {
        display: block;
        height: 4px;
        background: #fff;
        transform-origin: 0% 0%;
    }
    @media screen and (max-width: 640px) {
        min-height: 80vh;
    }
}

.HomeIntro {
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    backdrop-filter: blur(20px);
    background: rgba(0,0,0,0.6);
    > *:last-child() {
        margin-bottom: 1em;
    }
    &-col {
        flex: 1 1 60%;
        padding: 1em;
        &--graphic {
            flex: 1 1 40%;
        }
    }
    &-graphic {
        width: 100%;
    }
    @media screen and (min-width: 320px) {
        .HomeIntro {
            font-size: calc(16px + (34px - 16px) * ((100vw - 320px) / (1920px - 320px)));
        }
    }
    @media screen and (min-width: 1920px) {
        .HomeIntro {
            font-size: 34px;
        }
    }
    @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        max-width: none;
    }
}
.HomeButtons {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: $space*2 $space;
    &-col {
        flex: 1 1 33.3%;
        padding: 1em;
        text-align: center;
    }
    &-button {
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        color: #fff;
        background: #111;
        border: 2px solid #ed913d;
        margin: 20px;
        font-size: 22px;
        &-icon {
            flex: 0 0 auto;
            padding: 20px;
            background: #ed913d;
            color: #111;
            svg {
                width: 48px;
            }
        }
        &-inner {
            flex: 1 1 100%;
            display: inline-block;
            padding: 10px 20px;
            color: #ed913d;
            small {
                margin-top: 1em;
                display: block;
                font-size: 0.5em;
                font-style: italic;
                color: #fff;
                font-weight: 300;
            }
        }
    }
    @media screen and (min-width: 320px) {
        .HomeButtons-button {
            font-size: calc(22px + (34px - 22px) * ((100vw - 320px) / (1920px - 320px)));
        }
    }
    @media screen and (min-width: 1920px) {
        .HomeButtons-button {
            font-size: 34px;
        }
    }
    @media screen and (max-width: 1280px) {
        padding: $space 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (max-width: 640px) {
        max-width: none;
        padding: calc($space/2) 0;
        &-col {
            flex: 1 1 100%;
        }
    }
}
.HomeTimelapses {
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(20px);
    padding: $space*2 $space;
    &-title {

    }
    &-list {
        margin-top: $space;
        display: flex;
        align-items: center;
    }
    &-item {
        flex: 1 1 50%;
        padding: $space;
        &--center {
            flex: 1 1 70%;
        }
    }
    &-vid {
        width: 100%;
    }
    @media screen and (max-width: 1024px) {
        padding: $space 0;
        &-list {
            flex-wrap: wrap;
        }
        &-item {
            flex: 1 1 100%;
            padding: calc($space/2);
        }
    }
}
.HomeProjects {
    padding: $space*2 $space;
    &-list {
        
    }
    @media screen and (max-width: 640px) {
        padding: $space 0;
    }
}
.HomeProject {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $space * 2;
    margin-bottom: $space * 2;
    display: flex;

    backdrop-filter: blur(20px);
    background: rgba(0,0,0,0.6);
    &-title {
        font-size: 2em;
    }
    &-description {
        flex: 1 1 40%;
        padding: $space;
        order: 1;
        align-self: center;
    }
    &-img {
        flex: 1 1 60%;
        order: 2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:nth-child(2n) & {
        &-description {
            order: 2;
        }
        &-img {
            order: 1;
        }
    }
    @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        &-description {
            flex: 1 1 100%;
            order: 2;
        }
        &-img {
            flex: 1 1 100%;
            order: 1;
        }
    }
}
