/* Fluid Text */
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    & {
        font-size: $min-font-size;
    }
    @media screen and (min-width: $min-vw) {
        & {
            font-size: calc(#{$min-font-size} + #{($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{($max-vw - $min-vw)}));
        }
    }
    @media screen and (min-width: $max-vw) {
        & {
            font-size: $max-font-size;
        }
    }
}
