.u-button {
    display: inline-block;
    padding: 0.5em 1em;
    background: #ed913d;
    color: #fff;
}
.u-title {
    font-size: 30px;
    text-align: center;
}
@media screen and (min-width: 320px) {
    .u-title {
        font-size: calc(30px + (80px - 30px) * ((100vw - 320px) / (1920px - 320px)));
    }
}
@media screen and (min-width: 1920px) {
    .u-title {
        font-size: 80px;
    }
}

.u-subtitle {
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
@media screen and (min-width: 320px) {
    .u-subtitle {
        font-size: calc(20px + (30px - 20px) * ((100vw - 320px) / (1920px - 320px)));
    }
}
@media screen and (min-width: 1920px) {
    .u-subtitle {
        font-size: 30px;
    }
}


.js-anime-drop {
    transform-origin: 0% 0%;
}
.js-anime-span {
    transform-origin: 50% 0%;
    display: inline-block;
}
