:root {
    --theme-primary: #ed913d;
    --theme-secondary: #4D78C9;
    --theme-tertiary: #5AC49F;

    --theme-bg: #111;

    --theme-positive: #fff;
    --theme-negative: #111;

    --text-color: #fff;
    --link-color: #876;

    --font-family: 'Quicksand', sans-serif;

    --screen-xl: 1440px;
    --screen-lg: 1280px;
    --screen-md: 1024px;
    --screen-sm: 640px;
    --screen-xs: 480px;
}

/* Override base styles */
body {
    background: var(--theme-bg);
    color: var(--text-color);
    font-family: var(--font-family);
}
p {

}
a {
    color: var(--link-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
}

@import "mixins";
@import "utilities";
@import "elements";
@import "home";
