.Home {
    overflow-x: hidden;
    padding-top: 0;
}

.Header {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    background: #6d486d;
    &-intro {
        flex: 1 1 auto;
        display: flex;
        padding: 2em;
        align-items: center;
        justify-content: center;
    }
    &-graphic {
        flex: 3 1 100%;
    }
    &-text {
        padding: 2em;
        text-align: center;
        color: #fff;
    }
    &-title {
        font-size: 2.4rem;
        margin-bottom: 1em
    }
    &-subtitle {
        font-size: 2rem;
        margin-bottom: 1em
    }
    &-links {
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        text-align: center;
    }
    &-link {
        display: inline-block;
        padding: .5em 1em;
        margin: .5em;
        border: #b6da91 3px solid;
        text-transform: uppercase;
        font-size: 1.2em;
        &:hover {
            background: #b6da91;
            color: #6d486d;
        }
    }
    &-img {
        width: 100%;
        image-rendering: pixelated;
        object-fit: cover;
        object-position: 0 50%; /* positioned top left of the content box */
    }
    @media screen and (max-width: 1024px) {
        display: block;
        /* flex-wrap: wrap; */
        position: relative;
        &-intro {
            flex: 1 1 auto;
            position: relative;
            background: rgba(0,0,0,0.5);
            z-index: 1;
        }
        &-img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            flex: 1 1 100%;
        }
        &-title {
            font-size: 2rem;
        }
        &-subtitle {
            font-size: 1.4rem;
        }
    }
}
.Games {
    &-list {
        /* display: flex; */
        flex-wrap: wrap;
        & > * {
            flex: 1 1 50%;
        }
    }
}
.Game {
    position: relative;
    /* overflow-x: hidden; */
    &-link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: 10;
        &:hover {
            cursor: crosshair;
        }
        &:hover + .Game-inner {
            /* transform: scale(1.3); */
            /* background: rgba(0,0,0,0.2); */
            cursor: crosshair;
        }
    }
    &-bg {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: -1;
        background: #b6da91;
        box-shadow: inset rgba(0,0,0,0.2) 0 0 3em 3em;
    }
    &-inner {
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
        /* flex-wrap: wrap; */

    }
    &-cart {
        flex: 1 1 33%;
        padding: 2em;
        text-align: center;
        display: flex;
        justify-content: center;
        /* align-items: center; */

        &-shadow {
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 30px;
                background: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 75%);
                animation-name: floatshadow;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 4s;
            }
        }
        &-float {
            animation-name: float;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 4s;
            perspective: 1200px;
        }
        &-img {
            animation-name: spin;
            animation-timing-function: ease-in-out;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-duration: 6s;
            transform-style: preserve-3d;
            image-rendering: pixelated;
            width: 300px;
        }
    }
    &-name {
        text-transform: uppercase;
    }
    &-subtitle {
        font-size: 1.4em;
        margin-bottom: .5em;
    }
    &-description {
        text-align: center;
        flex: 1 1 66%;
        padding: 3em 3em 3em 3em;
    }
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
        justify-content: space-around;
        align-items: center;
    }
    &-previews {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1 1 auto;
    }
    &-video {
        width: 180px;
        max-width: 100%;
        height: auto;
        margin: 1em;
        border: 3px #fff solid;
    }
    &-buttons {
        flex: 1 1 auto;
    }
    &-button {
        position: relative;
        display: block;
        padding: .5em 1em;
        margin: .5em;
        border: #6db691 3px solid;
        color: #6db691;
        text-transform: uppercase;
        font-size: 1.2em;
        z-index: 20;
        &:hover {
            background: #6db691;
            color: #b6da91;
        }
    }
    &:nth-child(2n) {

    }
    &:nth-child(2n) & {
        &-bg {
            background: #6db691;
        }
        &-cart {
            &-shadow {
                &::after {
                    animation-delay: 1s;
                }
            }
            &-float {
                animation-delay: 1s;
            }
        }
        &-cart { order: 2 }
        &-description { order: 1 }
    }
    @media screen and (max-width: 1024px) {
        &-cart {
            z-index: 20;
        }
    }
    @media screen and (max-width: 640px) {
        &-inner {
            flex-wrap: wrap;
        }
        &:nth-child(2n) & {
            &-cart { order: 1 }
            &-description { order: 2 }
        }
        &-previews {
            flex-wrap: wrap;
        }
    }
}
@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3em);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes floatshadow {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.6);
        opacity: 0.2;
    }

    100% {
        transform: scale(1);
        opacity: 0.6;
    }
}
@keyframes spin {
    from {
        transform: rotateY(40deg);
    }

    to {
        transform: rotateY(-40deg);
    }
}
/* REGULAR SCANLINES SETTINGS */

/* Moving scanline settings */

/* MIXINS */

/* CSS .scanlines CLASS */

    .u-scanlines {
        /* position: relative; */
        overflow: hidden; /* only to animate the unique scanline */

        &:before,
        &:after {
            display: block;
            pointer-events: none;
            content: '';
            position: absolute;
        }

        /* unique scanline travelling on the screen */
        &:before {
            /* position: absolute; */
            /* bottom: 100%; */
            width: 100%;
            height: 2px * 1;
            z-index: 2147483648 + 1;
            background: rgba(0,0,0, 0.75);
            opacity: 0.75;
            /* animation: scanline 6s linear infinite; */
            animation: scanline 6s linear infinite;
        }

        /* the scanlines, so! */
        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2147483648;
            background: linear-gradient(
                to bottom,
                transparent 50%,
                rgba(0,0,0, 0.75) 51%
            );
            background-size: 100% 2px*2;
            animation: scanlines 1s steps(60) infinite;
        }
    }

/* ANIMATE UNIQUE SCANLINE */
    @keyframes scanline {
        0% {
            transform: translate3d(0,200000%,0);
            /* bottom: 0%; */ /* to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; } */
        }
    }

    @keyframes scanlines {
        0% {
            background-position: 0 50%;
            /* bottom: 0%; */ /* to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; } */
        }
    }
