.ProjectList {
	&-item {
        padding: 3rem 0;
	}
    @media screen and (max-width: var(--screen-md)) {
        &-item {
            padding-top: 2rem;
            padding-bottom: 2rem;
    	}
    }
    @media screen and (max-width: var(--screen-sm)) {
        &-item {
            padding-top: 1rem;
            padding-bottom: 1rem;
    	}
    }
    @media screen and (max-width: var(--screen-xs)) {
        &-item {
            padding-top: 0;
            padding-bottom: 0;
    	}
    }
}
