.Index {
    --gutter: 2rem;
    &-header {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 2em;
        padding: 0 var(--gutter);
        margin-bottom: 2rem;
        &-logo {
            max-width: 30ch;
            flex: 0 0 auto;
        }
        &-desc {
            padding: 1.4em 0;
            max-width: 66ch;
        }
        @media screen and (max-width: 640px) {
            flex-wrap: wrap;
        }
    }
    &-pieces {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0 2rem;
        @media screen and (max-width: 640px) {
            gap: 1rem;
            > * {
                flex: 0 1 calc(50% - (2rem / 2))
            }
        }
    }
    &-piece {
        position: relative;
        &:hover & {
            &-img {
                transform: rotate(4deg) scale(1.1);
            }
            &-link {
                border-color: #FF0B4B;
                border-width: 10px;
            }
        }
        &-link {
            border: 0 solid transparent;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
        &-img {
            transition: all .2s ease-in;
            max-height: 400px;
        }
        @media screen and (max-width: 1920px) {
            &-img {
                max-height: 280px;
            }
        }
        @media screen and (max-width: 960px) {
            &-img {
                max-height: 200px;
            }
        }
    }
    &-pagination {
        margin: 1rem auto;
        padding: 0 var(--gutter);
        display: flex;
        justify-content: center;
    }
    @media screen and (max-width: 480px) {
        --gutter: 1rem;
    }
}

.Pagination {
    font-family: 'Orbitron', san-serif;
    justify-content: flex-start;
    a,
    span {

        border-radius: 0;
    }
    span {

    }
    a {
        color: #FF0B4B;
        border-color: #FF0B4B;
        &:hover {
            background: #FF0B4B;
        }
    }
    li {
        &.is-active {
            a, span {
                border-color: #FF0B4B;
                background: #FF0B4B;
            }
        }
    }
}
