/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}
body {
    font-size: 100%;
    line-height: 1;
    vertical-align: baseline;
    text-rendering: optimizelegibility; /* Fix the character spacing for headings */
    -webkit-font-smoothing: antialiased;
    background: var(--theme-bg);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size-base-lg);
}
@media screen and (max-width: var(--screen-md)) {
    body {
        font-size: var(--font-size-base-md);
    }
}
@media screen and (max-width: var(--screen-sm)) {
    body {
        font-size: var(--font-size-base-sm);
    }
}
p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
a {
    font-weight: bold;
    color: var(--link-color);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/*  --- Headings ---
    ------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    font-family: var(--font-family-heading);
}
h1 { font-size: var(--h1); }
h2 { font-size: var(--h2); }
h3 { font-size: var(--h3); }
h4 { font-size: var(--h4); }
h5 { font-size: var(--h5); }
h6 { font-size: var(--h6); }
/*  --- Lists ---
    ------------------------------------------------------------------------- */
ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin-bottom: 0.5em;
    margin-left: 1em;
}
dl {
    dt {
        font-weight: bold;
    }
    dd {
        margin-bottom: 0.5em;
    }
}
/*  --- Blockquote ---
    ------------------------------------------------------------------------- */
blockquote {
    display: inline-block;
    font-family: var(--font-family-serif);
    font-style: normal;
    font-size: 3rem;
    line-height: 1.2;
    color: #636363;
    background-image: url('/img/blockquote_open.svg'), url('/img/blockquote_close.svg');
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    margin: 0;
    padding: .5em 1em;
}
blockquote p {
    margin-bottom: 0 !important;
}
blockquote cite {
    font-style: italic;
    font-size: 1.5rem;
}
blockquote cite::before {
    content: '-- ';
}
/*  --- Horizontal Rule ---
    ------------------------------------------------------------------------- */
hr {
    border-top: rgba(0, 0, 0, 0.2) 2px dotted;
}
/*  --- Media ---
    ------------------------------------------------------------------------- */
img {
    display: block;
    /* Make all images responsive by default */
    border: none;
    max-width: 100%; /* Part 1: Set a maximum relative to the parent */
    height: auto; /* Part 2: Scale the height according to the width, otherwise you get stretching */
}
/*  --- Code & Pre ---
    ------------------------------------------------------------------------- */
code {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.7);
    padding: 0 10px;
    border-radius: 3px;
    white-space: pre-wrap;
    text-align: left;
}
pre,
code {
    padding: 30px 40px;
    margin: 10px;
    /*border: 1px solid rgba(255, 255, 255, 0.4);*/
    border-radius: 10px;
}
/*  --- Table ---
    ------------------------------------------------------------------------- */
table {
    width: 100%;
}
table th {
    background: rgba(0, 0, 0, 0.2);
    text-align: left;
}
table td,
table th {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
table td {}
