.u-content {

    a:active {
        text-decoration: none;
    }

    p {
        margin-bottom: 1em;
        small {
            margin-bottom: 1em;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1rem;
    }

    p, h1, h2, h3, h4, h5, h6 {
        &:last-child {
            margin-bottom: 0;
        }
    }

}

.u-content--lg {
    font-size: 1.3em;
}

.u-content--sm {
    font-size: 0.9em;
}

.u-content--xs {
    font-size: 0.8em;
}
