.u-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.u-row--between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.u-row--around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.u-row--nowrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.u-row--reverse {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
}
.u-col {
  flex: 0 1 auto;
  box-sizing: border-box;
  padding-left: var(--gutter, 15px);
  padding-right: var(--gutter, 15px);
}

/* Ordering */
.u-col--first {
  order: 0;
}
.u-col--last {
  order: 999;
}

@media screen and (max-width: 1024px) {
  .u-col--md--first {
    order: 0;
  }
  .u-col--md--last {
    order: 999;
  }
}

@media screen and (max-width: 640px) {
  .u-col--sm--first {
    order: 0;
  }
  .u-col--sm--last {
    order: 999;
  }
}

@media screen and (max-width: 480px) {
  .u-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .u-col--first,
  .u-col--last {
    order: unset;
  }
}

/* Vertical Spacing (Skirt) */
.u-row--skirt .u-col {
  margin-bottom: var(--gutter, 15px);
}

@media screen and (max-width: 1280px) {
  .u-row--skirt .u-col {
    margin-bottom: var(--gutter-lg, 20px);
  }
}

@media screen and (max-width: 1024px) {
  .u-row--skirt .u-col {
    margin-bottom: var(--gutter-md, 25px);
  }
}

@media screen and (max-width: 640px) {
  .u-row--skirt .u-col {
    margin-bottom: var(--gutter-sm, 30px);
  }
}

@media screen and (max-width: 480px) {
  .u-row--skirt {
    margin-bottom: 0 !important;
  }
}

/* -------------- Column generator */
.u-col--half {
  flex-basis: 50%;
}
.u-col--third {
  flex-basis: 33.3%;
}
.u-col--twothirds {
  flex-basis: 66.6%;
}
.u-col--quarter {
  flex-basis: 25%;
}
.u-col--threequarters {
  flex-basis: 75%;
}

@media screen and (max-width: 480px) {
  .u-col {
    flex-basis: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

/* -------------- Breakpoint column generator */
.u-col--lg-- {
  /* This part requires dynamic generation based on value and columns, which is not directly possible in plain CSS.
     You would typically use a preprocessor or JavaScript for this.
     Assuming a default of 12 columns for demonstration. */
  padding-left: var(--gutter-lg, 20px);
  padding-right: var(--gutter-lg, 20px);
}
.u-col--lg--1 { flex-basis: calc(1/12 * 100%); }
.u-col--lg--2 { flex-basis: calc(2/12 * 100%); }
.u-col--lg--3 { flex-basis: calc(3/12 * 100%); }
.u-col--lg--4 { flex-basis: calc(4/12 * 100%); }
.u-col--lg--5 { flex-basis: calc(5/12 * 100%); }
.u-col--lg--6 { flex-basis: calc(6/12 * 100%); }
.u-col--lg--7 { flex-basis: calc(7/12 * 100%); }
.u-col--lg--8 { flex-basis: calc(8/12 * 100%); }
.u-col--lg--9 { flex-basis: calc(9/12 * 100%); }
.u-col--lg--10 { flex-basis: calc(10/12 * 100%); }
.u-col--lg--11 { flex-basis: calc(11/12 * 100%); }
.u-col--lg--12 { flex-basis: calc(12/12 * 100%); }

.u-col--md-- {
  padding-left: var(--gutter-md, 25px);
  padding-right: var(--gutter-md, 25px);
}
.u-col--md--1 { flex-basis: calc(1/12 * 100%); }
.u-col--md--2 { flex-basis: calc(2/12 * 100%); }
.u-col--md--3 { flex-basis: calc(3/12 * 100%); }
.u-col--md--4 { flex-basis: calc(4/12 * 100%); }
.u-col--md--5 { flex-basis: calc(5/12 * 100%); }
.u-col--md--6 { flex-basis: calc(6/12 * 100%); }
.u-col--md--7 { flex-basis: calc(7/12 * 100%); }
.u-col--md--8 { flex-basis: calc(8/12 * 100%); }
.u-col--md--9 { flex-basis: calc(9/12 * 100%); }
.u-col--md--10 { flex-basis: calc(10/12 * 100%); }
.u-col--md--11 { flex-basis: calc(11/12 * 100%); }
.u-col--md--12 { flex-basis: calc(12/12 * 100%); }

.u-col--sm-- {
  padding-left: var(--gutter-sm, 30px);
  padding-right: var(--gutter-sm, 30px);
}
.u-col--sm--1 { flex-basis: calc(1/12 * 100%); }
.u-col--sm--2 { flex-basis: calc(2/12 * 100%); }
.u-col--sm--3 { flex-basis: calc(3/12 * 100%); }
.u-col--sm--4 { flex-basis: calc(4/12 * 100%); }
.u-col--sm--5 { flex-basis: calc(5/12 * 100%); }
.u-col--sm--6 { flex-basis: calc(6/12 * 100%); }
.u-col--sm--7 { flex-basis: calc(7/12 * 100%); }
.u-col--sm--8 { flex-basis: calc(8/12 * 100%); }
.u-col--sm--9 { flex-basis: calc(9/12 * 100%); }
.u-col--sm--10 { flex-basis: calc(10/12 * 100%); }
.u-col--sm--11 { flex-basis: calc(11/12 * 100%); }
.u-col--sm--12 { flex-basis: calc(12/12 * 100%); }

.u-col--xs-- {
  padding-left: var(--gutter-xs, 10px);
  padding-right: var(--gutter-xs, 10px);
}
.u-col--xs--1 { flex-basis: calc(1/12 * 100%); }
.u-col--xs--2 { flex-basis: calc(2/12 * 100%); }
.u-col--xs--3 { flex-basis: calc(3/12 * 100%); }
.u-col--xs--4 { flex-basis: calc(4/12 * 100%); }
.u-col--xs--5 { flex-basis: calc(5/12 * 100%); }
.u-col--xs--6 { flex-basis: calc(6/12 * 100%); }
.u-col--xs--7 { flex-basis: calc(7/12 * 100%); }
.u-col--xs--8 { flex-basis: calc(8/12 * 100%); }
.u-col--xs--9 { flex-basis: calc(9/12 * 100%); }
.u-col--xs--10 { flex-basis: calc(10/12 * 100%); }
.u-col--xs--11 { flex-basis: calc(11/12 * 100%); }
.u-col--xs--12 { flex-basis: calc(12/12 * 100%); }
