.u-container {
  max-width: var(--max-width, 1170px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1170px + (20px * 2)) {
  .u-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-grid {
  display: flex;
  /* margin-left: -$spacer; */
  /* margin-right: -$spacer; */
  /* overflow-x: hidden; */
}
.u-grid > * {
  flex: 1 1 100%;
  padding: var(--spacer, 30px);
}

@media screen and (max-width: 768px) {
  .u-grid {
    flex-wrap: wrap;
  }
}

/* Clear floats like a boss */
.u-clearfix {
  display: table;
}
.u-clearfix:after {
  clear: both;
  content: "";
  display: table;
}

img.u-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
