.HomeCallToAction {
    z-index: 2;
    position: relative;
    background: linear-gradient(90deg, var(--theme-tertiary), var(--theme-secondary));
    padding: 2em;
    &-container {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        > * {
            flex: 1 1 auto;
            text-align: center;
        }
    }
    &-title {
        text-align: center;
    }
    &-button {
        margin: .5em;
        padding: .5em 1em;
        background: var(--color-white);
        font-size: 2rem;
        font-family: var(--font-family-heading);
        position: relative;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        text-transform: uppercase;
        border-radius: 1em 0 0 1em;
        &-icon {
            display: block;
            margin-right: 0.5em;
            // margin-left: -0.25em;
            max-height: 1em;
        }
        &-svg {
            display: inline-block;
            max-height: 1em;
            transition: all .2s ease-in-out;
        }
        // &:before,
        &:after {
          content: "";
          top: 0;
          position: absolute;
          border-top: 1em solid transparent;
          border-bottom: 1em solid transparent;
          transition: all .2s ease-in-out;
        }
        // &:before {
        //     right: 100%;
        //     border-right: .8em solid #fff;
        // }
        &:after {
            left: 100%;
            border-left: .8em solid var(--color-white);
            // transform: translateX(0.25em);
        }
        &--primary {
            color: var(--theme-tertiary);
        }
        &--primary & {
            &-svg {
                fill: var(--theme-tertiary);
            }
        }
        &--secondary {
            color: mix(var(--theme-tertiary), var(--theme-secondary), 50%);
        }
        &--secondary & {
            &-svg {
                fill: mix(var(--theme-tertiary), var(--theme-secondary), 50%);
            }
        }
        &--tertiary {
            color: var(--theme-secondary);
        }
        &--tertiary & {
            &-svg {
                fill: var(--theme-secondary);
            }
        }
        &:focus,
        &:hover {
            $fade: .25;
            background: rgba(var(--color-white), $fade);
            color: var(--color-positive);
            // &:before {
            //     border-right-color: rgba(var(--color-white), $fade);
            // }
            &:after {
                border-left-color: rgba(var(--color-white), $fade);
                transform: translateX(0.5em);
            }
        }
        &:focus &,
        &:hover & {
            &-svg {
                transform: scale(1.6);
                fill: var(--color-positive);
            }
        }

    }
    @media screen and (max-width: var(--screen-lg)) {
        &-button {
            font-size: 1.6rem;
        }
    }
    @media screen and (max-width: var(--screen-sm)) {
        background: linear-gradient(180deg, var(--theme-tertiary), var(--theme-secondary));
        &-container {
            > * {
                flex: 1 1 100%;
            }
        }
        &-button {
            display: flex;
        }
    }
}
