@import "glightbox/dist/css/glightbox.css";

:root {
    --theme-primary: #b0262a;
    --theme-secondary: #d4a875;
    --theme-tertiary: #6fa134;

    --theme-bg: var(--theme-secondary);

    --theme-positive: #fff;
    --theme-negative: #111;

    --text-color: #000;
    --link-color: var(--theme-primary);

    --font-family: 'Arial', sans-serif;
    --font-family-heading: 'Corben', sans-serif;

    --max-width: 920px;
    --screen-xl: 1440px;
    --screen-lg: 1280px;
    --screen-md: 1024px;
    --screen-sm: 640px;
    --screen-xs: 480px;
}

/* Override base styles */
body {
    background: var(--theme-bg);
    color: var(--text-color);
    font-family: var(--font-family);
}
p {

}
a {
    color: var(--link-color);
    &:hover {
        color: var(--theme-tertiary);
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
}

@import "home";
