.glightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999 !important;
  overflow: hidden;
  touch-action: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  backface-visibility: hidden;
  outline: none;
}

.glightbox-container.inactive {
  display: none;
}

.glightbox-container .gcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

.glightbox-container .gslider {
  transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, 0, 0);
}

.glightbox-container .gslide {
  width: 100%;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.glightbox-container .gslide.current {
  opacity: 1;
  z-index: 99999;
  position: relative;
}

.glightbox-container .gslide.prev {
  opacity: 1;
  z-index: 9999;
}

.glightbox-container .gslide-inner-content {
  width: 100%;
}

.glightbox-container .ginner-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  height: 100vh;
}

.glightbox-container .ginner-container.gvideo-container {
  width: 100%;
}

.glightbox-container .ginner-container.desc-bottom,
        .glightbox-container .ginner-container.desc-top {
  flex-direction: column;
}

.glightbox-container .ginner-container.desc-left,
        .glightbox-container .ginner-container.desc-right {
  max-width: 100% !important;
}

.gslide iframe,
    .gslide video {
  outline: none !important;
  border: none;
  min-height: 165px;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}

.gslide:not(.current) {
  pointer-events: none;
}

.gslide-image {
  align-items: center;
}

.gslide-image img {
  max-height: 100vh;
  display: block;
  padding: 0;
  float: none;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  max-width: 100vw;
  width: auto;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  touch-action: none;
  margin: auto;
  min-width: 200px;
}

.desc-top .gslide-image img,
        .desc-bottom .gslide-image img {
  width: auto;
}

.desc-left .gslide-image img,
        .desc-right .gslide-image img {
  width: auto;
  max-width: 100%;
}

.gslide-image img.zoomable {
  position: relative;
}

.gslide-image img.dragging {
  cursor: grabbing !important;
  transition: none;
}

.gslide-video {
  position: relative;
  max-width: 100vh;
  width: 100% !important;
}

.gslide-video .plyr__poster-enabled.plyr--loading .plyr__poster {
  display: none;
}

.gslide-video .gvideo-wrapper {
  width: 100%;
        /* max-width: 160vmin; */
  margin: auto;
}

.gslide-video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.34);
  display: none;
}

.gslide-video.playing::before {
  display: none;
}

.gslide-video.fullscreen {
  max-width: 100% !important;
  min-width: 100%;
  height: 75vh;
}

.gslide-video.fullscreen video {
  max-width: 100% !important;
  width: 100% !important;
}

.gslide-inline {
  background: #fff;
  text-align: left;
  max-height: calc(100vh - 40px);
  overflow: auto;
  max-width: 100%;
  margin: auto;
}

.gslide-inline .ginlined-content {
  padding: 20px;
  width: 100%;
}

.gslide-inline .dragging {
  cursor: grabbing !important;
  transition: none;
}

.ginlined-content {
  overflow: auto;
  display: block !important;
  opacity: 1;
}

.gslide-external {
  display: flex;
  width: 100%;
  min-width: 100%;
  background: #fff;
  padding: 0;
  overflow: auto;
  max-height: 75vh;
  height: 100%;
}

.gslide-media {
  display: flex;
  width: auto;
}

.zoomed .gslide-media {
  box-shadow: none !important;
}

.desc-top .gslide-media,
    .desc-bottom .gslide-media {
  margin: 0 auto;
  flex-direction: column;
}

.gslide-description {
  position: relative;
  flex: 1 0 100%;
}

.gslide-description.description-left,
    .gslide-description.description-right {
  max-width: 100%;
}

.gslide-description.description-bottom,
    .gslide-description.description-top {
  margin: 0 auto;
  width: 100%;
}

.gslide-description p {
  margin-bottom: 12px;
}

.gslide-description p:last-child {
  margin-bottom: 0;
}

.zoomed .gslide-description {
  display: none;
}

.glightbox-button-hidden {
  display: none;
}

/*
 * Description for mobiles
 * something like facebook does the description
 * for the photos
*/

.glightbox-mobile .glightbox-container .gslide-description {
  height: auto !important;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 19px 11px;
  max-width: 100vw !important;
  order: 2 !important;
  max-height: 78vh;
  overflow: auto !important;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  transition: opacity 0.3s linear;
  padding-bottom: 50px;
}

.glightbox-mobile .glightbox-container .gslide-title {
  color: #fff;
  font-size: 1em;
}

.glightbox-mobile .glightbox-container .gslide-desc {
  color: #a1a1a1;
}

.glightbox-mobile .glightbox-container .gslide-desc a {
  color: #fff;
  font-weight: bold;
}

.glightbox-mobile .glightbox-container .gslide-desc * {
  color: inherit;
}

.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
  color: #fff;
  opacity: 0.4;
}

.gdesc-open .gslide-media {
  transition: opacity 0.5s ease;
  opacity: 0.4;
}

.gdesc-open .gdesc-inner {
  padding-bottom: 30px;
}

.gdesc-closed .gslide-media {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.greset {
  transition: all 0.3s ease;
}

.gabsolute {
  position: absolute;
}

.grelative {
  position: relative;
}

.glightbox-desc {
  display: none !important;
}

.glightbox-open {
  overflow: hidden;
}

.gloader {
  height: 25px;
  width: 25px;
  animation: lightboxLoader 0.8s infinite linear;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  display: block;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 47%;
}

.goverlay {
  width: 100%;
  height: calc(100vh + 1px);
  position: fixed;
  top: -1px;
  left: 0;
  background: #000;
  will-change: opacity;
}

.glightbox-mobile .goverlay {
  background: #000;
}

.gprev,
.gnext,
.gclose {
  z-index: 99999;
  cursor: pointer;
  width: 26px;
  height: 44px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gprev svg,
.gnext svg,
.gclose svg {
  display: block;
  width: 25px;
  height: auto;
  margin: 0;
  padding: 0;
}

.gprev.disabled,
.gnext.disabled,
.gclose.disabled {
  opacity: 0.1;
}

.gprev .garrow,
.gnext .garrow,
.gclose .garrow {
  stroke: #fff;
}

.gbtn.focused {
  outline: 2px solid #0f3d81;
}

iframe.wait-autoplay {
  opacity: 0;
}

.glightbox-closing .gnext,
    .glightbox-closing .gprev,
    .glightbox-closing .gclose {
  opacity: 0 !important;
}

/*Skin */

.glightbox-clean .gslide-description {
  background: #fff;
}

.glightbox-clean .gdesc-inner {
  padding: 22px 20px;
}

.glightbox-clean .gslide-title {
  font-size: 1em;
  font-weight: normal;
  font-family: arial;
  color: #000;
  margin-bottom: 19px;
  line-height: 1.4em;
}

.glightbox-clean .gslide-desc {
  font-size: 0.86em;
  margin-bottom: 0;
  font-family: arial;
  line-height: 1.4em;
}

.glightbox-clean .gslide-video {
  background: #000;
}

.glightbox-clean .gprev,
    .glightbox-clean .gnext,
    .glightbox-clean .gclose {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.glightbox-clean .gprev path,
.glightbox-clean .gnext path,
.glightbox-clean .gclose path {
  fill: #fff;
}

.glightbox-clean .gprev {
  position: absolute;
  top: -100%;
  left: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gnext {
  position: absolute;
  top: -100%;
  right: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gclose {
  width: 35px;
  height: 35px;
  top: 15px;
  right: 10px;
  position: absolute;
}

.glightbox-clean .gclose svg {
  width: 18px;
  height: auto;
}

.glightbox-clean .gclose:hover {
  opacity: 1;
}

/*CSS Animations*/

.gfadeIn {
  animation: gfadeIn 0.5s ease;
}

.gfadeOut {
  animation: gfadeOut 0.5s ease;
}

.gslideOutLeft {
  animation: gslideOutLeft 0.3s ease;
}

.gslideInLeft {
  animation: gslideInLeft 0.3s ease;
}

.gslideOutRight {
  animation: gslideOutRight 0.3s ease;
}

.gslideInRight {
  animation: gslideInRight 0.3s ease;
}

.gzoomIn {
  animation: gzoomIn 0.5s ease;
}

.gzoomOut {
  animation: gzoomOut 0.5s ease;
}

@keyframes lightboxLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes gslideInLeft {
  from {
    opacity: 0;
    transform: translate3d(-60%, 0, 0);
  }
  to {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    transform: translate3d(60%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}

@keyframes gzoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@keyframes gzoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 769px) {
  .glightbox-container .ginner-container {
    width: auto;
    height: auto;
    flex-direction: row;
  }
  .glightbox-container .ginner-container.desc-top .gslide-description {
    order: 0;
  }
  .glightbox-container .ginner-container.desc-top .gslide-image,
                .glightbox-container .ginner-container.desc-top .gslide-image img {
    order: 1;
  }
  .glightbox-container .ginner-container.desc-left .gslide-description {
    order: 0;
  }
  .glightbox-container .ginner-container.desc-left .gslide-image {
    order: 1;
  }
  .gslide-image img {
    max-height: 97vh;
    max-width: 100%;
  }
  .gslide-image img.zoomable {
    cursor: zoom-in;
  }
  .zoomed .gslide-image img.zoomable {
    cursor: grab;
  }
  .gslide-inline {
    max-height: 95vh;
  }
  .gslide-external {
    max-height: 100vh;
  }
  .gslide-description.description-left,
    .gslide-description.description-right {
    max-width: 275px;
  }
  .glightbox-open {
    height: auto;
  }
  .goverlay {
    background: rgba(0, 0, 0, 0.92);
  }
  .glightbox-clean .gslide-media {
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.65);
  }
  .glightbox-clean .description-left .gdesc-inner,
.glightbox-clean .description-right .gdesc-inner {
    position: absolute;
    height: 100%;
    overflow-y: auto;
  }
  .glightbox-clean .gprev,
    .glightbox-clean .gnext,
    .glightbox-clean .gclose {
    background-color: rgba(0, 0, 0, 0.32);
  }
  .glightbox-clean .gprev:hover,
.glightbox-clean .gnext:hover,
.glightbox-clean .gclose:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .glightbox-clean .gprev {
    top: 45%;
  }
  .glightbox-clean .gnext {
    top: 45%;
  }
}

@media (min-width: 992px) {
  .glightbox-clean .gclose {
    opacity: 0.7;
    right: 20px;
  }
}

@media screen and (max-height: 420px) {
  .goverlay {
    background: #000;
  }
}

.Index {
  --gutter: 2rem;
}

.Index-header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2em;
  padding: 0 var(--gutter);
  margin-bottom: 2rem;
}

.Index-header-logo {
  max-width: 30ch;
  flex: 0 0 auto;
}

.Index-header-desc {
  padding: 1.4em 0;
  max-width: 66ch;
}

@media screen and (max-width: 640px) {
  .Index-header {
    flex-wrap: wrap;
  }
}

.Index-pieces {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 2rem;
}

@media screen and (max-width: 640px) {
  .Index-pieces {
    gap: 1rem;
  }
  .Index-pieces > * {
    flex: 0 1 calc(50% - 1rem);
  }
}

.Index-piece {
  position: relative;
}

.Index-piece:hover .Index-piece-img {
  transform: rotate(4deg) scale(1.1);
}

.Index-piece:hover .Index-piece-link {
  border-color: #FF0B4B;
  border-width: 10px;
}

.Index-piece-link {
  border: 0 solid transparent;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.Index-piece-img {
  transition: all 0.2s ease-in;
  max-height: 400px;
}

@media screen and (max-width: 1920px) {
  .Index-piece-img {
    max-height: 280px;
  }
}

@media screen and (max-width: 960px) {
  .Index-piece-img {
    max-height: 200px;
  }
}

.Index-pagination {
  margin: 1rem auto;
  padding: 0 var(--gutter);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .Index {
    --gutter: 1rem;
  }
}

.Pagination {
  font-family: "Orbitron", san-serif;
  justify-content: flex-start;
}

.Pagination a,
.Pagination span {
  border-radius: 0;
}

.Pagination a {
  color: #FF0B4B;
  border-color: #FF0B4B;
}

.Pagination a:hover {
  background: #FF0B4B;
}

.Pagination li.is-active a, .Pagination li.is-active span {
  border-color: #FF0B4B;
  background: #FF0B4B;
}

.Show {
  --padding: 2rem;
}

.Show-inner {
  display: flex;
  justify-content: space-between;
}

.Show-aside {
  flex: 1 0 auto;
}

.Show-aside._last .Show-aside-inner {
  align-items: flex-end;
}

.Show-aside._last .Show-pagination._prev {
  display: none;
}

.Show-aside-inner {
  padding: var(--padding);
  position: sticky;
  min-height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding);
}

.Show-aside-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 1rem;
  margin-left: auto;
}

.Show-pagination {
  position: relative;
  max-width: 160px;
}

.Show-pagination:hover .Show-pagination-img {
  transform: rotate(4deg) scale(1.1);
}

.Show-pagination:hover .Show-pagination-link {
  border-color: #FF0B4B;
  border-width: 10px;
}

.Show-pagination-link {
  border: 0 solid transparent;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.Show-pagination-img {
  display: block;
  transition: all 0.2s ease-in;
  position: relative;
}

.Show-pagination:after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 1.8em;
  top: 25%;
  padding: 0.5em;
  background: #FF0B4B;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Orbitron", san-serif;
}

.Show-pagination._minor {
  max-width: 120px;
}

.Show-pagination._first:after {
  content: "<<";
  left: -15%;
}

.Show-pagination._prev:after {
  content: "<";
  left: -15%;
}

.Show-pagination._next:after {
  content: ">";
  right: -15%;
}

.Show-pagination._last:after {
  content: ">>";
  right: -15%;
}

@media screen and (max-width: 960px) {
  .Show-pagination {
    max-width: 120px;
  }
}

@media screen and (max-width: 960px) {
  .Show-pagination {
    max-width: 100px;
  }
}

.Show-logo {
  display: block;
  flex: 0 0 auto;
  width: 100%;
  max-width: 10ch;
}

.Show-theme {
  flex: 1 0 auto;
}

.Show-theme-week {
  line-height: 1;
  font-size: 1.8rem;
}

.Show-theme-name {
  font-size: 2.8rem;
  padding-left: 0.5em;
  margin-top: -0.4em;
  line-height: 1;
  color: #FF0B4B;
  font-family: "Dancing Script", serif;
}

.Show-title {
  flex: 1 0 auto;
}

.Show-title-num {
  line-height: 1;
  font-size: 1.8rem;
}

.Show-title-name {
  font-size: 2.8rem;
  padding-left: 0.5em;
  margin-top: -0.4em;
  line-height: 1;
  color: #FF0B4B;
  font-family: "Dancing Script", serif;
}

.Show-main {
  flex: 0 1 auto;
  padding: var(--padding);
  gap: var(--padding);
  display: flex;
  flex-direction: column;
}

.Show-media {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.Show-image-img {
  margin: 0 auto;
  max-height: calc(100vh - var(--padding) * 2);
  max-width: 100%;
}

.Show-video {
  max-height: 80vh;
  max-width: 100%;
}

.Show-desc {
  max-width: 50ch;
}

.Show-process-heading {
  text-transform: uppercase;
}

.Show-process-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}

.Show-process-group-heading {
  padding: 0.5em 0;
}

.Show-process-group-heading-h {
  font-size: 1.6em;
  color: #FF0B4B;
  font-family: "Dancing Script", serif;
}

.Show-process-group-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Show-process-group-desc {
  max-width: 20ch;
}

.Show-process-item-img {
  max-height: 200px;
}

.Show-metadata-heading {
  font-size: 2.2em;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Orbitron", san-serif;
  color: #B5B5B5;
}

.Show-metadata-heading:hover {
  cursor: pointer;
}

.Show-metadata-list {
  display: block;
  margin-top: 1em;
}

.Show-metadata-list:after {
  content: "";
  display: table;
  clear: both;
}

.Show-metadata-key {
  float: left;
  width: -moz-max-content;
  width: max-content;
  text-align: right;
  clear: left;
}

.Show-metadata-value {
  float: left;
  padding: 0 0.5em;
}

@media screen and (max-width: 1280px) {
  .Show-inner {
    flex-wrap: wrap;
  }
  .Show-aside._last .Show-pagination._prev {
    display: block;
  }
  .Show-aside-inner {
    min-height: auto;
    flex-direction: row;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .Show-aside-mid {
    flex-direction: row;
    flex-wrap: wrap;
    order: -1;
    gap: 2rem;
    margin: 0 auto;
    max-width: none;
  }
  .Show-pagination._first {
    display: none;
  }
  .Show-pagination._prev {
    display: none;
  }
  .Show-pagination._last {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .Show {
    --padding: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Orbitron", san-serif;
  color: #B5B5B5;
}
