.glightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999 !important;
  overflow: hidden;
  touch-action: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  backface-visibility: hidden;
  outline: none;
}

.glightbox-container.inactive {
  display: none;
}

.glightbox-container .gcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

.glightbox-container .gslider {
  transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, 0, 0);
}

.glightbox-container .gslide {
  width: 100%;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.glightbox-container .gslide.current {
  opacity: 1;
  z-index: 99999;
  position: relative;
}

.glightbox-container .gslide.prev {
  opacity: 1;
  z-index: 9999;
}

.glightbox-container .gslide-inner-content {
  width: 100%;
}

.glightbox-container .ginner-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  height: 100vh;
}

.glightbox-container .ginner-container.gvideo-container {
  width: 100%;
}

.glightbox-container .ginner-container.desc-bottom,
        .glightbox-container .ginner-container.desc-top {
  flex-direction: column;
}

.glightbox-container .ginner-container.desc-left,
        .glightbox-container .ginner-container.desc-right {
  max-width: 100% !important;
}

.gslide iframe,
    .gslide video {
  outline: none !important;
  border: none;
  min-height: 165px;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}

.gslide:not(.current) {
  pointer-events: none;
}

.gslide-image {
  align-items: center;
}

.gslide-image img {
  max-height: 100vh;
  display: block;
  padding: 0;
  float: none;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  max-width: 100vw;
  width: auto;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  touch-action: none;
  margin: auto;
  min-width: 200px;
}

.desc-top .gslide-image img,
        .desc-bottom .gslide-image img {
  width: auto;
}

.desc-left .gslide-image img,
        .desc-right .gslide-image img {
  width: auto;
  max-width: 100%;
}

.gslide-image img.zoomable {
  position: relative;
}

.gslide-image img.dragging {
  cursor: grabbing !important;
  transition: none;
}

.gslide-video {
  position: relative;
  max-width: 100vh;
  width: 100% !important;
}

.gslide-video .plyr__poster-enabled.plyr--loading .plyr__poster {
  display: none;
}

.gslide-video .gvideo-wrapper {
  width: 100%;
        /* max-width: 160vmin; */
  margin: auto;
}

.gslide-video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.34);
  display: none;
}

.gslide-video.playing::before {
  display: none;
}

.gslide-video.fullscreen {
  max-width: 100% !important;
  min-width: 100%;
  height: 75vh;
}

.gslide-video.fullscreen video {
  max-width: 100% !important;
  width: 100% !important;
}

.gslide-inline {
  background: #fff;
  text-align: left;
  max-height: calc(100vh - 40px);
  overflow: auto;
  max-width: 100%;
  margin: auto;
}

.gslide-inline .ginlined-content {
  padding: 20px;
  width: 100%;
}

.gslide-inline .dragging {
  cursor: grabbing !important;
  transition: none;
}

.ginlined-content {
  overflow: auto;
  display: block !important;
  opacity: 1;
}

.gslide-external {
  display: flex;
  width: 100%;
  min-width: 100%;
  background: #fff;
  padding: 0;
  overflow: auto;
  max-height: 75vh;
  height: 100%;
}

.gslide-media {
  display: flex;
  width: auto;
}

.zoomed .gslide-media {
  box-shadow: none !important;
}

.desc-top .gslide-media,
    .desc-bottom .gslide-media {
  margin: 0 auto;
  flex-direction: column;
}

.gslide-description {
  position: relative;
  flex: 1 0 100%;
}

.gslide-description.description-left,
    .gslide-description.description-right {
  max-width: 100%;
}

.gslide-description.description-bottom,
    .gslide-description.description-top {
  margin: 0 auto;
  width: 100%;
}

.gslide-description p {
  margin-bottom: 12px;
}

.gslide-description p:last-child {
  margin-bottom: 0;
}

.zoomed .gslide-description {
  display: none;
}

.glightbox-button-hidden {
  display: none;
}

/*
 * Description for mobiles
 * something like facebook does the description
 * for the photos
*/

.glightbox-mobile .glightbox-container .gslide-description {
  height: auto !important;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 19px 11px;
  max-width: 100vw !important;
  order: 2 !important;
  max-height: 78vh;
  overflow: auto !important;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  transition: opacity 0.3s linear;
  padding-bottom: 50px;
}

.glightbox-mobile .glightbox-container .gslide-title {
  color: #fff;
  font-size: 1em;
}

.glightbox-mobile .glightbox-container .gslide-desc {
  color: #a1a1a1;
}

.glightbox-mobile .glightbox-container .gslide-desc a {
  color: #fff;
  font-weight: bold;
}

.glightbox-mobile .glightbox-container .gslide-desc * {
  color: inherit;
}

.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
  color: #fff;
  opacity: 0.4;
}

.gdesc-open .gslide-media {
  transition: opacity 0.5s ease;
  opacity: 0.4;
}

.gdesc-open .gdesc-inner {
  padding-bottom: 30px;
}

.gdesc-closed .gslide-media {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.greset {
  transition: all 0.3s ease;
}

.gabsolute {
  position: absolute;
}

.grelative {
  position: relative;
}

.glightbox-desc {
  display: none !important;
}

.glightbox-open {
  overflow: hidden;
}

.gloader {
  height: 25px;
  width: 25px;
  animation: lightboxLoader 0.8s infinite linear;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  display: block;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 47%;
}

.goverlay {
  width: 100%;
  height: calc(100vh + 1px);
  position: fixed;
  top: -1px;
  left: 0;
  background: #000;
  will-change: opacity;
}

.glightbox-mobile .goverlay {
  background: #000;
}

.gprev,
.gnext,
.gclose {
  z-index: 99999;
  cursor: pointer;
  width: 26px;
  height: 44px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gprev svg,
.gnext svg,
.gclose svg {
  display: block;
  width: 25px;
  height: auto;
  margin: 0;
  padding: 0;
}

.gprev.disabled,
.gnext.disabled,
.gclose.disabled {
  opacity: 0.1;
}

.gprev .garrow,
.gnext .garrow,
.gclose .garrow {
  stroke: #fff;
}

.gbtn.focused {
  outline: 2px solid #0f3d81;
}

iframe.wait-autoplay {
  opacity: 0;
}

.glightbox-closing .gnext,
    .glightbox-closing .gprev,
    .glightbox-closing .gclose {
  opacity: 0 !important;
}

/*Skin */

.glightbox-clean .gslide-description {
  background: #fff;
}

.glightbox-clean .gdesc-inner {
  padding: 22px 20px;
}

.glightbox-clean .gslide-title {
  font-size: 1em;
  font-weight: normal;
  font-family: arial;
  color: #000;
  margin-bottom: 19px;
  line-height: 1.4em;
}

.glightbox-clean .gslide-desc {
  font-size: 0.86em;
  margin-bottom: 0;
  font-family: arial;
  line-height: 1.4em;
}

.glightbox-clean .gslide-video {
  background: #000;
}

.glightbox-clean .gprev,
    .glightbox-clean .gnext,
    .glightbox-clean .gclose {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.glightbox-clean .gprev path,
.glightbox-clean .gnext path,
.glightbox-clean .gclose path {
  fill: #fff;
}

.glightbox-clean .gprev {
  position: absolute;
  top: -100%;
  left: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gnext {
  position: absolute;
  top: -100%;
  right: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gclose {
  width: 35px;
  height: 35px;
  top: 15px;
  right: 10px;
  position: absolute;
}

.glightbox-clean .gclose svg {
  width: 18px;
  height: auto;
}

.glightbox-clean .gclose:hover {
  opacity: 1;
}

/*CSS Animations*/

.gfadeIn {
  animation: gfadeIn 0.5s ease;
}

.gfadeOut {
  animation: gfadeOut 0.5s ease;
}

.gslideOutLeft {
  animation: gslideOutLeft 0.3s ease;
}

.gslideInLeft {
  animation: gslideInLeft 0.3s ease;
}

.gslideOutRight {
  animation: gslideOutRight 0.3s ease;
}

.gslideInRight {
  animation: gslideInRight 0.3s ease;
}

.gzoomIn {
  animation: gzoomIn 0.5s ease;
}

.gzoomOut {
  animation: gzoomOut 0.5s ease;
}

@keyframes lightboxLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes gslideInLeft {
  from {
    opacity: 0;
    transform: translate3d(-60%, 0, 0);
  }
  to {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    transform: translate3d(60%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}

@keyframes gzoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@keyframes gzoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 769px) {
  .glightbox-container .ginner-container {
    width: auto;
    height: auto;
    flex-direction: row;
  }
  .glightbox-container .ginner-container.desc-top .gslide-description {
    order: 0;
  }
  .glightbox-container .ginner-container.desc-top .gslide-image,
                .glightbox-container .ginner-container.desc-top .gslide-image img {
    order: 1;
  }
  .glightbox-container .ginner-container.desc-left .gslide-description {
    order: 0;
  }
  .glightbox-container .ginner-container.desc-left .gslide-image {
    order: 1;
  }
  .gslide-image img {
    max-height: 97vh;
    max-width: 100%;
  }
  .gslide-image img.zoomable {
    cursor: zoom-in;
  }
  .zoomed .gslide-image img.zoomable {
    cursor: grab;
  }
  .gslide-inline {
    max-height: 95vh;
  }
  .gslide-external {
    max-height: 100vh;
  }
  .gslide-description.description-left,
    .gslide-description.description-right {
    max-width: 275px;
  }
  .glightbox-open {
    height: auto;
  }
  .goverlay {
    background: rgba(0, 0, 0, 0.92);
  }
  .glightbox-clean .gslide-media {
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.65);
  }
  .glightbox-clean .description-left .gdesc-inner,
.glightbox-clean .description-right .gdesc-inner {
    position: absolute;
    height: 100%;
    overflow-y: auto;
  }
  .glightbox-clean .gprev,
    .glightbox-clean .gnext,
    .glightbox-clean .gclose {
    background-color: rgba(0, 0, 0, 0.32);
  }
  .glightbox-clean .gprev:hover,
.glightbox-clean .gnext:hover,
.glightbox-clean .gclose:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .glightbox-clean .gprev {
    top: 45%;
  }
  .glightbox-clean .gnext {
    top: 45%;
  }
}

@media (min-width: 992px) {
  .glightbox-clean .gclose {
    opacity: 0.7;
    right: 20px;
  }
}

@media screen and (max-height: 420px) {
  .goverlay {
    background: #000;
  }
}

body {
  background: #6d486d;
  color: #000;
  font-family: "VT323", sans-serif;
  line-height: normal;
}

p {
  line-height: 1;
}

a {
  color: #b6da91;
}

a:hover {
  color: #6d486d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Press Start 2P", sans-serif;
}

.Home {
  overflow-x: hidden;
  padding-top: 0;
}

.Header {
  position: relative;
  display: flex;
  background: #6d486d;
}

.Header-intro {
  flex: 1 1 auto;
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: center;
}

.Header-graphic {
  flex: 3 1 100%;
}

.Header-text {
  padding: 2em;
  text-align: center;
  color: #fff;
}

.Header-title {
  font-size: 2.4rem;
  margin-bottom: 1em;
}

.Header-subtitle {
  font-size: 2rem;
  margin-bottom: 1em;
}

.Header-links {
  text-align: center;
}

.Header-link {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em;
  border: #b6da91 3px solid;
  text-transform: uppercase;
  font-size: 1.2em;
}

.Header-link:hover {
  background: #b6da91;
  color: #6d486d;
}

.Header-img {
  width: 100%;
  image-rendering: pixelated;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 50%;
     object-position: 0 50%; /* positioned top left of the content box */
}

@media screen and (max-width: 1024px) {
  .Header {
    display: block;
    position: relative;
  }
  .Header-intro {
    flex: 1 1 auto;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .Header-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    flex: 1 1 100%;
  }
  .Header-title {
    font-size: 2rem;
  }
  .Header-subtitle {
    font-size: 1.4rem;
  }
}

.Games-list {
  flex-wrap: wrap;
}

.Games-list > * {
  flex: 1 1 50%;
}

.Game {
  position: relative;
}

.Game-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.Game-link:hover {
  cursor: crosshair;
}

.Game-link:hover + .Game-inner {
  cursor: crosshair;
}

.Game-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: #b6da91;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 3em 3em;
}

.Game-inner {
  display: flex;
  justify-content: space-around;
}

.Game-cart {
  flex: 1 1 33%;
  padding: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Game-cart-shadow::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background: radial-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0) 75%);
  animation-name: floatshadow;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.Game-cart-float {
  animation-name: float;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  perspective: 1200px;
}

.Game-cart-img {
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  transform-style: preserve-3d;
  image-rendering: pixelated;
  width: 300px;
}

.Game-name {
  text-transform: uppercase;
}

.Game-subtitle {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.Game-description {
  text-align: center;
  flex: 1 1 66%;
  padding: 3em 3em 3em 3em;
}

.Game-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
}

.Game-previews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 auto;
}

.Game-video {
  width: 180px;
  max-width: 100%;
  height: auto;
  margin: 1em;
  border: 3px #fff solid;
}

.Game-buttons {
  flex: 1 1 auto;
}

.Game-button {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  margin: 0.5em;
  border: #6d486d 3px solid;
  color: #6d486d;
  text-transform: uppercase;
  font-size: 1.2em;
  z-index: 20;
}

.Game-button:hover {
  background: #6d486d;
  color: #b6da91;
}

.Game:nth-child(2n) .Game-bg {
  background: #6db691;
}

.Game:nth-child(2n) .Game-cart-shadow::after {
  animation-delay: 1s;
}

.Game:nth-child(2n) .Game-cart-float {
  animation-delay: 1s;
}

.Game:nth-child(2n) .Game-cart {
  order: 2;
}

.Game:nth-child(2n) .Game-description {
  order: 1;
}

@media screen and (max-width: 1024px) {
  .Game-cart {
    z-index: 20;
  }
}

@media screen and (max-width: 640px) {
  .Game-inner {
    flex-wrap: wrap;
  }
  .Game:nth-child(2n) .Game-cart {
    order: 1;
  }
  .Game:nth-child(2n) .Game-description {
    order: 2;
  }
  .Game-previews {
    flex-wrap: wrap;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatshadow {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

@keyframes spin {
  from {
    transform: rotateY(40deg);
  }
  to {
    transform: rotateY(-40deg);
  }
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */

.u-glitch {
  position: relative;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
}

.u-glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 1px;
  text-shadow: -1px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.u-glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -1px;
  text-shadow: -1px 0 #00fff9, 1px 1px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/

@keyframes glitch-anim {
  0% {
    clip: rect(12px, 9999px, 83px, 0);
    transform: skew(0.76deg);
  }
  5% {
    clip: rect(81px, 9999px, 23px, 0);
    transform: skew(0.88deg);
  }
  10% {
    clip: rect(20px, 9999px, 24px, 0);
    transform: skew(0.05deg);
  }
  15% {
    clip: rect(35px, 9999px, 50px, 0);
    transform: skew(0.2deg);
  }
  20% {
    clip: rect(70px, 9999px, 33px, 0);
    transform: skew(0.62deg);
  }
  25% {
    clip: rect(16px, 9999px, 46px, 0);
    transform: skew(0.15deg);
  }
  30% {
    clip: rect(43px, 9999px, 44px, 0);
    transform: skew(0.23deg);
  }
  35% {
    clip: rect(42px, 9999px, 70px, 0);
    transform: skew(0.51deg);
  }
  40% {
    clip: rect(26px, 9999px, 80px, 0);
    transform: skew(0.13deg);
  }
  45% {
    clip: rect(27px, 9999px, 39px, 0);
    transform: skew(0.93deg);
  }
  50% {
    clip: rect(23px, 9999px, 91px, 0);
    transform: skew(0.61deg);
  }
  55% {
    clip: rect(52px, 9999px, 47px, 0);
    transform: skew(0.35deg);
  }
  60% {
    clip: rect(55px, 9999px, 99px, 0);
    transform: skew(0.98deg);
  }
  65% {
    clip: rect(34px, 9999px, 30px, 0);
    transform: skew(0.42deg);
  }
  70% {
    clip: rect(50px, 9999px, 42px, 0);
    transform: skew(0.38deg);
  }
  75% {
    clip: rect(82px, 9999px, 52px, 0);
    transform: skew(0.36deg);
  }
  80% {
    clip: rect(91px, 9999px, 33px, 0);
    transform: skew(0.22deg);
  }
  85% {
    clip: rect(59px, 9999px, 44px, 0);
    transform: skew(0.13deg);
  }
  90% {
    clip: rect(18px, 9999px, 22px, 0);
    transform: skew(0.71deg);
  }
  95% {
    clip: rect(3px, 9999px, 26px, 0);
    transform: skew(0.02deg);
  }
  100% {
    clip: rect(91px, 9999px, 1px, 0);
    transform: skew(0.51deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(44px, 9999px, 61px, 0);
    transform: skew(0.19deg);
  }
  5% {
    clip: rect(66px, 9999px, 44px, 0);
    transform: skew(0.63deg);
  }
  10% {
    clip: rect(5px, 9999px, 46px, 0);
    transform: skew(0.28deg);
  }
  15% {
    clip: rect(10px, 9999px, 72px, 0);
    transform: skew(0.17deg);
  }
  20% {
    clip: rect(18px, 9999px, 9px, 0);
    transform: skew(0.28deg);
  }
  25% {
    clip: rect(3px, 9999px, 5px, 0);
    transform: skew(0.72deg);
  }
  30% {
    clip: rect(63px, 9999px, 57px, 0);
    transform: skew(0.23deg);
  }
  35% {
    clip: rect(44px, 9999px, 25px, 0);
    transform: skew(0.24deg);
  }
  40% {
    clip: rect(69px, 9999px, 100px, 0);
    transform: skew(0.73deg);
  }
  45% {
    clip: rect(96px, 9999px, 14px, 0);
    transform: skew(0.81deg);
  }
  50% {
    clip: rect(86px, 9999px, 60px, 0);
    transform: skew(0.45deg);
  }
  55% {
    clip: rect(40px, 9999px, 86px, 0);
    transform: skew(0.28deg);
  }
  60% {
    clip: rect(99px, 9999px, 37px, 0);
    transform: skew(0.85deg);
  }
  65% {
    clip: rect(24px, 9999px, 35px, 0);
    transform: skew(0.47deg);
  }
  70% {
    clip: rect(89px, 9999px, 64px, 0);
    transform: skew(0.49deg);
  }
  75% {
    clip: rect(51px, 9999px, 13px, 0);
    transform: skew(0.14deg);
  }
  80% {
    clip: rect(35px, 9999px, 8px, 0);
    transform: skew(0.22deg);
  }
  85% {
    clip: rect(26px, 9999px, 49px, 0);
    transform: skew(0.38deg);
  }
  90% {
    clip: rect(53px, 9999px, 85px, 0);
    transform: skew(0.43deg);
  }
  95% {
    clip: rect(96px, 9999px, 69px, 0);
    transform: skew(0.27deg);
  }
  100% {
    clip: rect(83px, 9999px, 85px, 0);
    transform: skew(0.94deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(-3deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(0deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(3deg);
  }
  50% {
    transform: skew(-2deg);
  }
  60% {
    transform: skew(4deg);
  }
  70% {
    transform: skew(2deg);
  }
  80% {
    transform: skew(0deg);
  }
  90% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(2deg);
  }
}

/* REGULAR SCANLINES SETTINGS */

/* MOVING SCANLINE SETTINGS */

/* MIXINS */

/* CSS .scanlines CLASS */

.u-scanlines {
  overflow: hidden;
}

.u-scanlines:before, .u-scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}

.u-scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.75;
  animation: scanline 6s linear infinite;
}

.u-scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.1) 51%);
  background-size: 100% 4px;
  animation: scanlines 1s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
