:root {
    --theme-primary: #ed913d;
    --theme-secondary: #4D78C9;
    --theme-tertiary: #5AC49F;
    --theme-neutral: #BFBFBF;
    --theme-bg: #EFEBE5;

    --color-white: #fff;
    --color-black: #000;

    --color-positive: #eee;
    --color-negative: #333;

    --site-border-radius: 4px;

    --border-default: 1px var(--theme-primary) solid;

    --spacer: 30px;

    --font-family: 'Lato', serif;
    --font-family-heading: 'Nunito', serif;
    --font-family-serif: 'Caveat', Georgia, serif;

    --heading-color: var(--theme-primary);
    --text-color: var(--theme-primary);

    --max-width: 1440px;

    --screen-xl: 1440px;
    --screen-lg: 1280px;
    --screen-md: 1024px;
    --screen-sm: 640px;
    --screen-xs: 480px;
    --screen-xxs: 320px;
    --screen-breakpoint: 768px;

    --link-color: var(--theme-primary);
}
